<!-- views/reset-password.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Restablecer Contraseña</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <p>Tu token de restablecimiento de contraseña es: {{token}}</p>
    <!-- Aquí puedes agregar un formulario para cambiar la contraseña -->
</body>
</html>
